/* mirador fix: omeka-s sets global header size and padding */
.mirador header {
    min-height: 0 !important;
    padding: 0;
}

/* mirador fix: workspace-control-panel visible above admin title */
.MuiAppBar-root {
    z-index: 2;
}